<div class="boxdci">
	<toolbar apps='apps' selected="app"></toolbar>
	<div class="about">
		<h1>{{app}}</h1>
		<h2 ng-if='appcompany'>by <a>{{ appcompany }}</a></h2>
		<p class="threshdisplay">minimum threshold: {{ threshold }} </p>		
	</div>
	<div class="threshold_slider">
		<!-- <div class="label">threshold:</div> -->
		<input type="range" ng-model="threshold" min="0" max="100">
	</div>
	<h2 ng-if="error" class="error"> Error: {{ error }} </h2>
	<div ng-if="!error" class="all">
		<div ng-repeat="c in categories" class="trackers {{c.class}}" ng-if="size(c.companies)" >
			<h5 ng-bind="c.label"></h5>
			<div class="company" ng-repeat="(company,pis) in c.companies">   
				<company-info company="company" company-name="getName(company)" details="details">{{company}}</company-info>			
				<pi-types-display types="pis"></pi-types-display>
			</div>
		</div>
	</div>
</div>

