<div class="boxdci">
	<div class="about">
		<h1>{{app}}</h1>
		<h2 ng-if='appcompany'>by <a>{{ appcompany }}</a></h2>
		<p class="threshdisplay">minimum threshold: {{ threshold }} </p>		
	</div>
	<div class="threshold_slider">
		<!-- <div class="label">threshold:</div> -->
		<input type="range" ng-model="threshold" min="0" max="100">
	</div>
	<h2 ng-if="error"> {{ error }} </h2>
	<div ng-if="!error" class="all">
		<div class="company" ng-repeat="(company,pis) in company2pi">
			<h4>{{company}}</h4>			
			<ol>
				<li ng-repeat="pi in pis"> {{ pi }} </li>
			</ol>			
		</div>
	</div>
</div>
