<div class='company-lens'>	
	<div class="title company">
		<div class="box" style="background-color:{{$ctrl.selected.color}}"></div>	
		<div class="name" style="color:{{$ctrl.selected.color}};">{{ $ctrl.selected.company }}<span ng-if="$ctrl.selected.label !== $ctrl.selected.name">({{$ctrl.selected.company}})</span></div>
	</div>
	<div class="props">
		<ul>
			<li class="property description" ng-if="$ctrl.selected.description" ng-bind="$ctrl.selected.description"></li>		
			<li class="property equity textonly" ng-if="$ctrl.selected.equity">equity: ${{ $ctrl.selected.equity }}</li>
			<li class="property jurisdiction" ng-if="$ctrl.selected.jurisdiction">country: {{ $ctrl.selected.jurisdiction.toUpperCase() }} <span ng-bind-html='$ctrl.selected.jurisdiction_flag'></span> </li>
			<li class="property size" ng-if="$ctrl.selected.size"> employees: {{ $ctrl.selected.size }} &#x1f466;</li>
			<li class="property founded textonly" ng-if="$ctrl.selected.founded">founded: {{ $ctrl.selected.founded }}</li>
		</ul>
	</div>
</div>