<div class='company-info-box' ng-style="{top:$ctrl.y, left:$ctrl.x}" ng-class="{hiding:!selected, double:selected.company && selected.parent && $ctrl.details[selected.parent]}">
	<!-- company --> 
	<company-lens company="selected" ng-if="selected.company"></company-lens>
	<div class='issubsidiary' ng-if="selected.company && selected.parent && $ctrl.details[selected.parent]">is a subsidiary of</div>
	<company-lens ng-if="selected.company && selected.parent && $ctrl.details[selected.parent]" company="$ctrl.details[selected.parent]"></company-lens>
	<!-- apps -->
	<div class="title company" ng-if="selected.type=='app'">
		<div class="box" style="background-color:{{selected.color}};"></div>	
		<div class="name"><span >app:</span> {{ selected.label }}</div>
	</div>
	<!-- everything else: pitypes, categories --> 
	<div class="title company" 	ng-if="selected && selected.type!=='app' && !selected.company">
		<div class="box" style="background-color:{{selected.color}};"></div>
		<div class="name" ng-bind="getDesc(selected).title"></div>
	</div>
	<div class="props" ng-if="selected && selected.type!=='app' && !selected.company">
		<div ng-bind="getDesc(selected).desc"></div>
	</div>
</div>