<div class='company-info-box' ng-class="{hiding:!selected}" ng-style="{top:$ctrl.y, left:$ctrl.x}">
	<div class="title company" ng-if="selected.company">
		<div class="box" style="background-color:{{selected.color}}"></div>	
		<div class="name" style="color:{{selected.color}};">{{ selected.company }} <span ng-if="selected.label !== selected.name">({{selected.company}})</span></div>
	</div>
	<div class="props" ng-if="selected.company">
		<ul>
			<li class="property equity textonly" ng-if="selected.equity">equity: ${{ selected.equity }}</li>
			<li class="property jurisdiction" ng-if="selected.jurisdiction">country: {{ selected.jurisdiction.toUpperCase() }} <span ng-bind-html='selected.jurisdiction_flag'></span> </li>
			<li class="property size" ng-if="selected.size"> employees: {{ selected.size }} &#x1f466;</li>
			<li class="property founded textonly" ng-if="selected.founded">founded: {{ selected.founded }}</li>
		</ul>
	</div>
	<!-- apps -->
	<div class="title company" ng-if="selected.type=='app'">
		<div class="box" style="background-color:{{selected.color}};"></div>	
		<div class="name"><span >app:</span> {{ selected.label }}</div>
	</div>
	<!-- everything else: pitypes, categories --> 
	<div class="title company" 	ng-if="selected && selected.type!=='app' && !selected.company">
		<div class="box" style="background-color:{{selected.color}};"></div>
		<div class="name" ng-bind="getDesc(selected).title"></div>
	</div>
	<div class="props" ng-if="selected && selected.type!=='app' && !selected.company">
		<div ng-bind="getDesc(selected).desc"></div>
	</div>
</div>