<div class="experiment config">
	<h2>Configure New Experiment</h2>
	<dl>
		<dt>study id: </dt>
		<dd><input type="text" ng-model="runid"></dd>
		<dt>participant id:</dt>
		<dd><input type="text" ng-model="participantid"><button ng-click="participantid=genPID()">Generate</button></dd>
		<dt>number of rounds:<dt>
		<dd><input type="number" ng-model="nRounds"></dd>
	</dl>
	<h2>Fast Configuration code</h2>
	<div>
		<input type="text" ng-model="configCode"></input>
		<button class="btn" ng-click="parseCode(configCode)">Configure</button>
		<div class="error" ng-if="codeError">Error: {{ codeError }}</div>
	</div>	
	<h2>Rounds:</h2>
	<table>
		<thead>
			<th>round</th><th>condition</th><th>app A</th><th>app B</th><th>domain</th>
		</thead>
		<tr ng-repeat="round in rounds">
			<td>
				{{ rounds.indexOf(round) }}
			</td>		
			<!-- condition --> 
			<td>
				<select ng-model="round.cond">
					<option ng-repeat="a in ifaces">{{a}}</option>		
				</select>
			</td>
			<!-- apps -->
			<td ng-repeat="side in ['a','b']">
				<select id="soflow" ng-model="round[side]">
					<option ng-repeat="a in apps">{{a}}</option>		
				</select>
			</td>
			<td>
				<input type="text" ng-model="round.domain">
			</td>
		</tr>
	</table>
	<button ng-click="doSave()"> Save </button>
</div>