<div class="experiment manage">
	<h2>Manage Experiments</h2>
	<div ng-if="!(experiments && experiments.length)">
		No experiments found.
	</div>
	<table ng-if="experiments && experiments.length">
		<thead>
			<th>part id</th><th>created</th><th># Rounds</th><th># Completed</th>
		</thead>
		<tr ng-click="load(e)" ng-repeat="e in experiments | orderBy:'created'" ng-class="{selected:selected == e._id}">
			<td ng-bind="e.participant"></td>		
			<td ng-bind="toDateStr(e.created)"></td>			
			<!-- <td ng-bind="e._id"></td> -->
			<td ng-bind="e.rounds.length"></td>
			<td ng-bind="filterComplete(e.rounds).length"></td>			
			<td>
				<button ng-click="delete(e, $event)">Delete</button>
				<button ng-click="export(e, $event)">Export</button>
			</td>
		</tr>
	</table>
	<button ng-click="new()">New Experiment</button>
	<textarea ng-if="exportData" ng-model="exportData"></textarea>
</div>