<div class="experiment manage">
	<h2>Manage Experiments</h2>
	<div ng-if="!(experiments && experiments.length)">
		No experiments found.
	</div>
	<table ng-if="experiments && experiments.length">
		<thead>
			<th>experiment</th><th>participant</th><th>created</th>
		</thead>
		<tr ng-repeat="e in experiments" ng-class="{selected:selected == e._id}">
			<td ng-bind="e._id"></td>
			<td ng-bind="e.participant"></td>
			<td ng-bind="toDateStr(e.created)"></td>
			<td>
				<button ng-click="load(e)">Load</button>
				<button ng-click="delete(e)">Delete</button>
				<button ng-click="export(e)">Export</button>
			</td>
		</tr>
	</table>
	<button ng-click="new()">New Experiment</button>
	<textarea ng-if="exportData" ng-model="exportData"></textarea>
</div>