<div class="pi {{$ctrl.type}}" ng-click="showDetails=!showDetails">
	<div ng-if="$ctrl.type=='USER_PERSONAL_DETAILS'">
		Personal details
	</div>
	<div ng-if="$ctrl.type=='USER_LOCATION'">
		Your precise location.
	</div>
	<div ng-if="$ctrl.type=='USER_LOCATION_COARSE'">
		Your approximate location (the city/town)
	</div>
	<div ng-if="$ctrl.type=='DEVICE_ID'">
		Your smartphone's unique device fingerprint.
	</div>
	<div ng-if="$ctrl.type=='DEVICE_SOFT'">
		Characteristics about your smartphone.
	</div>
	<!-- {{$ctrl.type}} -->
</div>