<div class="pi-types-display">
	<div class="piclass personal" ng-if="containsPartial( 'USER_')">
		<div class="piclassname">about you</div>
		<ul>
			<li class="pi USER_PERSONAL_DETAILS" ng-if="contains('USER_PERSONAL_DETAILS')"  ng-click="showDetails=!showDetails">personal demographics</li>
			<li class="pi USER_LOCATION" ng-if="contains('USER_LOCATION')">your precise location.</li>
			<li class="pi USER_LOCATION_COARSE" ng-if="contains('USER_LOCATION_COARSE')">your city/town.</li>
		</ul>
	</div>
	<div class="piclass device" ng-if="containsPartial('DEVICE')">
		<div class="piclassname">about your smartphone</div>
		<ul>
			<li class="pi DEVICE_ID" ng-if="contains('DEVICE_ID')">its fingerprint.</li>
			<li class="pi DEVICE_SOFT" ng-if="contains('DEVICE_SOFT')">its software characteristics.</li>
		</ul>
	</div>
</div>