<div class="experiment run">
	<div class="time" ng-bind="elapsed"></div>
	<div ng-if="t.cond === 'sankey'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>	
		<dci-sankey app="t.a" appcompany='companies.a'></dci-sankey>
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>		
		<dci-sankey app="t.b" appcompany='companies.b'></dci-sankey>
	</div>
	<div ng-if="t.cond === 'table'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-table app="t.a" appcompany='companies.a'></dci-table>
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>		
		<dci-table app="t.b" appcompany='companies.b'></dci-table>
	</div>
	<div ng-if="t.cond === 'box'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-sankey app="t.a" appcompany='companies.a'></dci-sankey>
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>				
		<dci-sankey app="t.b" appcompany='companies.b'></dci-sankey>
	</div>
	<div>
		<button ng-click="choiceMade(t.a)">{{t.a}}</button>
		<button ng-click="choiceMad(t.b)">{{t.b}}</button>
	</div>
	<div>
		<button ng-click="doNextRound()" ng-disabled="!(t.result && t.result.chosen)">Next Round</button>
	</div>
</div>