<div class="experiment run-task">
	<div class="time" ng-bind="elapsed/1000"></div>
	<div class="cond" ng-if="t.cond === 'sankey'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>	
		<dci-sankey app="t.a" appcompany='companies.a'></dci-sankey>
		<button ng-click="choiceMade(t.a)">Choose {{t.a}}</button>				
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>		
		<dci-sankey app="t.b" appcompany='companies.b'></dci-sankey>
		<button ng-click="choiceMade(t.b)">Choose {{t.b}}</button>
	</div>
	<div class="cond" ng-if="t.cond === 'table'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-table app="t.a" appcompany='companies.a'></dci-table>
		<button ng-click="choiceMade(t.a)">Choose {{t.a}}</button>		
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>		
		<dci-table app="t.b" appcompany='companies.b'></dci-table>
		<button ng-click="choiceMade(t.b)">Choose {{t.b}}</button>
	</div>
	<div class="cond" ng-if="t.cond === 'box'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-sankey app="t.a" appcompany='companies.a'></dci-sankey>
		<button ng-click="choiceMade(t.a)">Choose {{t.a}}</button>				
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>				
		<dci-sankey app="t.b" appcompany='companies.b'></dci-sankey>
		<button ng-click="choiceMade(t.b)">Choose {{t.b}}</button>
	</div>
	<div class="cond" ng-if="t.cond === 'tablepl'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-table-privacy-leaks app="t.a" appcompany='companies.a'></dci-table-privacy-leaks>
		<button ng-click="choiceMade(t.a)">Choose {{t.a}}</button>				
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>				
		<dci-table-privacy-leaks app="t.b" appcompany='companies.b'></dci-table-privacy-leaks>
		<button ng-click="choiceMade(t.b)">Choose {{t.b}}</button>
	</div>
	<div class="cond" ng-if="t.cond === 'permission'">
		<div class="sidebyside-perms">
			<div class="side-perms">
				<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
				<permissions app="t.a" appcompany='companies.a'></permissions>
				<button ng-click="choiceMade(t.a)">Choose {{t.a}}</button>				
			</div>
			<div class="side-perms">
				<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>
				<permissions app="t.b" appcompany='companies.b'></permissions>
				<button ng-click="choiceMade(t.b)">Choose {{t.b}}</button>
			</div>
		</div>
	</div>
	<div class="cond" ng-if="t.cond === 'permpurpose'">
		<div class="sidebyside-perms">
			<div class="side-perms">
				<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
				<permissions app="t.a" appcompany='companies.a' purpose='true'></permissions>
				<button ng-click="choiceMade(t.a)">Choose {{t.a}}</button>				
			</div>
			<div class="side-perms">
				<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>
				<permissions app="t.b" appcompany='companies.b' purpose='true'></permissions>
				<button ng-click="choiceMade(t.b)">Choose {{t.b}}</button>
			</div>
		</div>
	</div>
	<div class="chosenPane" ng-if="t.result.chosen">
		Great! Please answer the following questions:
		<ol>
			<li class="question">Why did you choose {{ t.result.chosen }} ? (spoken response) </li>

			<li class="question likert">
				<likert-question response="t.result.confidence">I am confident in my choice of app.</likert-question>
			</li>
		</ol>
		<button ng-if="t.result.confidence !== undefined" ng-click="next()">Next step &gt; </button>
	</div>
</div>