<div class="experiment run-task">
	<div class="time" ng-bind="elapsed/1000"></div>
	<div class="cond" ng-if="t.cond === 'sankey'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>	
		<dci-sankey app="t.a" appcompany='companies.a'></dci-sankey>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.a)">Choose {{t.a}}</button></div>				
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>		
		<dci-sankey app="t.b" appcompany='companies.b'></dci-sankey>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.b)">Choose {{t.b}}</button></div>
	</div>
	<div class="cond" ng-if="t.cond === 'table'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-table app="t.a" appcompany='companies.a'></dci-table>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.a)">Choose {{t.a}}</button></div>		
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>		
		<dci-table app="t.b" appcompany='companies.b'></dci-table>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.b)">Choose {{t.b}}</button></div>
	</div>
	<div class="cond" ng-if="t.cond === 'box'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-sankey app="t.a" appcompany='companies.a'></dci-sankey>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.a)">Choose {{t.a}}</button></div>				
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>				
		<dci-sankey app="t.b" appcompany='companies.b'></dci-sankey>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.b)">Choose {{t.b}}</button></div>
	</div>
	<div class="cond" ng-if="t.cond === 'tablepl'">
		<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
		<dci-table-privacy-leaks app="t.a" appcompany='companies.a'></dci-table-privacy-leaks>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.a)">Choose {{t.a}}</button></div>				
		<hr>
		<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>				
		<dci-table-privacy-leaks app="t.b" appcompany='companies.b'></dci-table-privacy-leaks>
		<div class="app-choose-btn"><button ng-click="choiceMade(t.b)">Choose {{t.b}}</button></div>
	</div>
	<div class="cond" ng-if="t.cond === 'permission'">
		<div class="sidebyside-perms">
			<div class="side-perms">
				<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
				<permissions app="t.a" appcompany='companies.a'></permissions>
				<div class="app-choose-btn"><button ng-click="choiceMade(t.a)">Choose {{t.a}}</button></div>				
			</div>
			<div class="side-perms">
				<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>
				<permissions app="t.b" appcompany='companies.b'></permissions>
				<div class="app-choose-btn"><button ng-click="choiceMade(t.b)">Choose {{t.b}}</button></div>
			</div>
		</div>
	</div>
	<div class="cond" ng-if="t.cond === 'permpurpose'">
		<div class="sidebyside-perms">
			<div class="side-perms">
				<div class="appname">{{ t.a }} <span class="appcompany">{{companies.a}}</span></div>
				<permissions app="t.a" appcompany='companies.a' purpose='true'></permissions>
				<div class="app-choose-btn"><button ng-click="choiceMade(t.a)">Choose {{t.a}}</button></div>				
			</div>
			<div class="side-perms">
				<div class="appname">{{ t.b }} <span class="appcompany">{{companies.b}}</span></div>
				<permissions app="t.b" appcompany='companies.b' purpose='true'></permissions>
				<div class="app-choose-btn"><button ng-click="choiceMade(t.b)">Choose {{t.b}}</button></div>
			</div>
		</div>
	</div>
	<div class="chosenPane" ng-if="t.result.chosen">
		<h2> Post-task questions (2) : </h2> 
		<div ng-if='stage===1'>
			<div class="question">1. Why did you choose {{ t.result.chosen }} ? </div>
			<div> (<i>Please briefly explain your choice verbally</i>)</div>
			<div class="buttons"><button ng-click="nextQ()">Next question &gt;</button></div>
		</div>
		<div class="likert" ng-if='stage===2'>
			<div>2. How much do you agree with the following statement? </div>
			<likert-question response="t.result.confidence">I am confident in my choice of app.</likert-question>
			<div class="buttons">
				<button ng-disabled="t.result.confidence===undefined" ng-click="next()">Done! Go to next task &gt; </button>
			</div>
		</div>
	</div>
</div>