<div class="experiment run-task">
	<h2>Run Experiment</h2>
	<h5>id: <span ng-bind="experiment._id"></span></h4>
	<h5>participant: <span ng-bind="experiment.participant"></span>

	<h3>apps <span ng-if="experiment.pdciApps">({{ experiment.pdciApps.length }} selected)</span></h3>
	<button ng-click="selectApps()">Select PDCI Apps</button>

	<h4>dci rounds:</h4>
	<table>
		<thead>
			<th>round</th><th>condition</th><th>a</th><th>b</th><th>run?</th>
		</thead>
		<tr ng-repeat="x in experiment.rounds.dci" ng-class="{done:x.chosen}">
			<td>{{ experiment.rounds.dci.indexOf(x) }}</td>
			<td>{{ x.cond }}</td>
			<td>{{ x.a }}</td>
			<td>{{ x.b }}</td>
			<td>{{ x.chosen || 'no' }}</td>
			<td><button ng-click="run(x)">Run/Replace</button></td>
		</tr>
	</table>

	<h4>pdci rounds:</h4>
	<table>
		<thead>
			<th>round</th><th>condition</th><th>a</th><th>b</th><th>run?</th>
		</thead>
		<tr ng-repeat="x in experiment.rounds.dci" ng-class="{done:x.chosen}">
			<td>{{ experiment.rounds.dci.indexOf(x) }}</td>
			<td>{{ x.cond }}</td>
			<td>{{ x.a }}</td>
			<td>{{ x.b }}</td>
			<td>{{ x.chosen || 'no' }}</td>
			<td><button ng-click="run(x)">Run/Replace</button></td>
		</tr>
	</table>

</div>