<div class="experiment run">
	<div class="time" ng-bind="elapsed"></div>
	<div ng-if="t.cond === 'sankey'">
		<dci-sankey app="t.a" appcompany='companies.a' ng-if="mode==='sankey'"></dci-sankey>
		<dci-sankey app="t.b" appcompany='companies.b' ng-if="mode==='sankey'"></dci-sankey>
	</div>
	<div ng-if="t.cond === 'table'">
		<dci-table app="t.a" appcompany='companies.a' ng-if="mode==='sankey'"></dci-table>
		<dci-table app="t.b" appcompany='companies.b' ng-if="mode==='sankey'"></dci-table>
	</div>
	<div ng-if="t.cond === 'sankey'">
		<dci-sankey app="t.a" appcompany='companies.a' ng-if="mode==='sankey'"></dci-sankey>
		<dci-sankey app="t.b" appcompany='companies.b' ng-if="mode==='sankey'"></dci-sankey>
	</div>
	<div>
		<button ng-click="choiceMade(t.a)">{{t.a}}</button>
		<button ng-click="choiceMad(t.b)">{{t.b}}</button>
	</div>
	<div>
		<button ng-click="doNextRound()" ng-disabled="!chosen">Next Round</button>
	</div>
</div>