<div class="experiment run">

	<div class="donebutton btn" ui-sref="experiment.manage">Done</div>			

	<h2>Experiment <span ng-bind="experiment._id"></span></h2>
	<h5>participant: <span ng-bind="experiment.participant"></span></h5>


	<button ng-click="selectApps()">Please select the apps you use.</button>
	<h3 ng-if="experiment.pdciApps">({{ experiment.pdciApps.length }} selected)</h3>

	<h4>phase 1 : reflection</h4>
	<table ng-if="experiment.pdciApps">
		<thead>
			<th>app name</th><th>see dci</th><td>see pdci</td>
		</thead>
		<tr ng-repeat="n in experiment.pdciApps">
			<td>{{ n }}</td>
			<td><a ui-sref="experiment.runphase1({app:n,pdci:false})">DCI</a> 
			<td><a ui-sref="experiment.runphase1({app:n,pdci:true})"> PDCI</a>
		</td>			
	</table>

	<h4>phase 2 : choose the app you like better </h4>
	<table>
		<thead>
			<th>round</th><th>condition</th><th>domain</th><th>a</th><th>b</th><th>run?</th>
		</thead>
		<tr ng-repeat="x in experiment.rounds" ng-class="{done:x.result.chosen}" ng-click="run(x)">
			<td>{{ experiment.rounds.indexOf(x) }}</td>
			<td>{{ x.cond }}</td>
			<td>{{ x.domain }}</td>
			<td>{{ x.a }}</td>
			<td>{{ x.b }}</td>
			<td>{{ x.result.chosen || 'no' }}</td>
			<td><button ng-click="clear(x, $event)">Clear</button></td>
		</tr>
	</table>
</div>