<div class="dci">
	<toolbar apps="apps" selected="app" mode="mode" show-company-details='companyDetails' showpdci="showPDCI.showing" pdciapps="pdciApps"></toolbar>
	<pdci-app-selector apps="apps" selected="pdciAppsObj" showing="showPDCI.showing"></pdci-app-selector>
	<div class="about">
		<h1>{{app}}</h1>
		<h2 ng-if='appcompany'>by <a>{{ appcompany }}</a></h2>
		<div class="papp" ng-if="pdciApps.length">
			Personalised to a person who uses <div ng-repeat="a in pdciApps" class="pappfeedback">{{a}}</div>
		</div>
	</div>
	<h2 ng-if="error" class="error"> Error: {{ error }} </h2>
	<div ng-if="!error" class="all"  ui-view></div>
</div>

