* { 
	box-sizing:border-box;
	font-family:sans-serif;
}

body, html {
	font-size:18pt;
	padding:0px; margin:0px;
}
.error { 
	color:red !important;
	font-weight:bold;
	font-style:italic;
}
.chooseapp {
	padding:10px 10% 0px 10%;
	ol { 
		// background-color:#eee;
		border:1px solid #eee;
		padding:2px 0px;
		list-style-type:none; 
		li { 
			font-size:24pt;
			font-weight:100;
			background-color:#eff;
			padding:10px;
			margin:10px;
			&:hover {
				background-color:#fff;
				color:black;
			}
		}
	}
}

.dci {
	// background-color:#eee;	
	margin: 50px 0% 50px 0%; 
	padding: 50px 5%;
	position:relative;
	// app name
	h1 { 
		font-size:42pt; 
		font-weight:100; 
		padding-bottom:0px; 
		margin:0px 0px 0px 10px;
	}
	h2 { 
		margin:0px 0px 1em 10px; 
		font-size:18pt;
		padding:0px; font-weight:100;
	}
	.threshold_slider { 
		position:absolute;
		right:40px; 
		top:80px;
	}
	.threshdisplay { font-size:8pt; }
}

.pdci-app-selector {
	position:absolute;
	top:100px; left:auto; right:auto; width:500px;
	bottom:auto; height:200px;
	border:1px solid #222;
	background-color:white;
	padding:20px;
	h3 { margin:0px 0px; }
}