* { 
	box-sizing:border-box;
	font-family:sans-serif;
}

body, html {
	font-size:18pt;
}

.chooseapp {
	padding:10px 10% 0px 10%;
	ol { 
		// background-color:#eee;
		border:1px solid #eee;
		padding:2px 0px;
		list-style-type:none; 
		li { 
			font-size:24pt;
			font-weight:100;
			background-color:#eff;
			padding:10px;
			margin:10px;
			&:hover {
				background-color:#fff;
				color:black;
			}
		}
	}

}
.boxdci {
	// background-color:#eee;	
	margin: 50px 4% 50px 4%; 
	padding: 50px 40px;
	position:relative;
	h1 { font-size:42pt; font-weight:100; padding-bottom:0px; margin-bottom:0px; }
	h2 { margin:0px; padding:0px; font-weight:100; }
	.threshold_slider { 
		position:absolute;
		right:40px; 
		top:80px;
	}
	.threshdisplay { font-size:8pt; }
	.all { 
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:flex-start;
		align-items:stretch !important; // flex-start;
		align-content:flex-start;
		div.trackers { 
			flex-grow:0;
			align-items:stretch !important; // flex-start;
			margin:0 10px 0 0;
			border:1px solid #eee;
			margin-top:50px; 
			// display:inline-block;
			// width:400px;
			padding:20px;		
			vertical-align:top;
			width:30%;
			font-size:1.5vw !important;			
			h5 { 
				margin:0px; padding:0px;
				font-weight:200;
				font-size:28pt;
				text-align:right;
				// text-decoration:underline;
			}
			div.company { 
				// background-color:#fefefe;
				padding:20px 0px;
				// border-top:1px solid #eee;
				border-bottom:1px solid #eee;
				h4 { margin:0px; padding:0px; }
				ol { 
					list-style-type:none;
					padding:0px; 
				}
			}
			.piclass { 
				padding:10px 0px;
				.piclassname {
					font-style:italic;
					padding:5px 0px 0px 0px;
					font-size:12pt;
					text-align:center;
					// font-weight:bold;
				}
				ol { margin:0px 0px; }
				.pi { 
					padding:0px 0px 0px 18px;
					font-size:12pt;
					// font-weight:bold;
					&.DEVICE_SOFT {  }
					&.USER_PERSONAL_DETAILS {}
					&.DEVICE_ID {  }
					&.USER_LOCATION, &.USER_LOCATION_COARSE {}
				}
			}
		}
	}
	.ad { 
		color:#FF0080 !important;
		border:1px solid #FF0080 !important;
	}
	.analytics { 
		color:#8F50FF !important;
		border:1px solid #8F50FF !important;
	}
	.app-publisher { 
		color:#169FFF !important;		
		border:1px solid #169FFF !important;		
	}
	.other {
		border:1px solid #efefef;
		color:#aaa;		
	}
}