#sankey-chart {
  height: 500px;

	.node rect {
	  cursor: move;
	  fill-opacity: .1;
	  shape-rendering: crispEdges;
	}

	.node text {
	  pointer-events: none;
	  text-shadow: 0 1px 0 #fff;
	}

	.link {
	  fill: none;
	  stroke: #000;
	  // stroke-opacity: .2;
	  stroke-opacity:0.05;
	}

	.link:hover {
	  stroke-opacity: .5;
	}

	.node.isapp rect { 
		// stroke:pink !important;
		// stroke-width:8px !important;
		fill-opacity: 1 !important;
	}
	.isapp.link { 
		stroke: pink;
		stroke-opacity:0.4;
	}
}