.table { 	
	font-size:12pt;
	th {
		border-right:1px solid #eee;
		// border-bottom:1px solid #eee;
		// &:first-child {
		// 	border-bottom:none;
		// }
	}
	td { 
		border-right:1px solid #eee;
		width:150px;
		text-align:center;
		padding: 15px 0px 15px 0px;		
		&:hover {
			background-color:#eee;
		}
	}
}