.table { 	
	font-size:12pt;
	th {
		border-right:1px solid #eee;
		// border-bottom:1px solid #eee;
		// &:first-child {
		// 	border-bottom:none;
		// }
	}
	td { 
		color:white;
		&.companyname {
			// font-style:italic;
			background-color:white;
			color:black;
			text-align:right !important;
			padding:0px 30px;
			// color: #07b;
			font-size:20pt;
			font-weight:bold;
			font-variant:small-caps;
			&:hover {
				background-color:cyan;
			}
			div { font-size:12pt; margin-top:-5pt; }
		}
		&.category {
			background-color:white;			
			font-variant:small-caps;
			font-size:14pt;
			font-weight:100;
		}
		border-right:1px solid #eee;
		width:150px;
		text-align:center;
		padding: 15px 0px 15px 0px;		
		&:hover { background-color:#eee; }
		.container {
			// margin: 0px auto;
			// width:40px;
			// height:100%;
		}
	}
	.pitypes { 
		padding:0px;
		margin:0px;
		.dot {
		    // display: table-cell;
		    // width: 30px;
		    // height: 30px;
		    // border-radius: 17px;
		    color: black;
		    vertical-align: middle;
		    text-align: center;
		    // background-color:rgba(255,255,255,0.8)
		    // padding:5px 0px 0px 0px;
		    img { 
		    	width:2.3em; 
		    }
		    padding:8px 3px;
		    margin:20px;
		    border-radius:200px;
		}		
	}
	@tonealpha:1.0;
	.app { 
		.pitypes .dot { background-color:rgba(52, 152, 219, @tonealpha); }
		.companyname, .category { color:rgba(52, 152, 219,1.0); }
	}	
	.marketing { 
		// yellow
		.pitypes .dot { background-color:rgba(241, 196, 15, @tonealpha); }
		.companyname, .category { color:rgba(241, 196, 15, 1.0); }
		// orange :: background-color:rgba(230, 126, 34,@tonealpha);
	}
	.usage { 
		// wisteria
		.pitypes .dot { background-color:rgba(142, 68, 173,@tonealpha); }
		.companyname, .category { color:rgba(142, 68, 173, 1.0); }

	}
	.security { 
		.pitypes .dot { background-color:rgba(192, 57, 43,@tonealpha); }
		.companyname, .category { color:rgba(192, 57, 43, 1.0); }		
	}
	.payments {
		.pitypes .dot { background-color:rgba(46, 204, 113, @tonealpha); }
		.companyname, .category { color:rgba(46, 204, 113, 1.0); }		
	}
	.other {
		.pitypes .dot { background-color:rgba(149, 165, 166, @tonealpha); }
		.companyname, .category { color:rgba(149, 165, 166, 1.0); }		
	}
}