.table { 	
	font-size:12pt;
	th {
		border-right:1px solid #eee;
		// border-bottom:1px solid #eee;
		// &:first-child {
		// 	border-bottom:none;
		// }
	}
	td { 
		color:white;
		&.companyname {
			// font-style:italic;
			text-align:right !important;
			padding:0px 30px;
			// color: #07b;
			font-size:20pt;
			font-weight:bold;
			font-variant:small-caps;
			&:hover {
				background-color:cyan;
			}
			div { font-size:12pt; margin-top:-5pt; }
		}
		&.category {
			font-variant:small-caps;
			font-size:14pt;
			font-weight:100;
		}
		border-right:1px solid #eee;
		width:150px;
		text-align:center;
		padding: 15px 0px 15px 0px;		
		&:hover { background-color:#eee; }
		.container {
			margin: 0px auto;
			width:40px;
		}
	}

	.dot {
	    // display: table-cell;
	    // width: 30px;
	    // height: 30px;
	    // border-radius: 17px;
	    color: black;
	    vertical-align: middle;
	    text-align: center;
	    // background-color:rgba(255,255,255,0.8)
	    padding:5px 0px 0px 0px;
	    img { width:2.3em; }
	}
	@tonealpha:0.71;
	.app { 
		background-color:rgba(52, 152, 219, @tonealpha);
	}	
	.marketing { 
		background-color:rgba(230, 126, 34,@tonealpha);
	}
	.usage { 
		background-color:rgba(241, 196, 15,@tonealpha);
	}
	.security { 
		background-color:rgba(192, 57, 43,@tonealpha);
	}
	.payments .pitypes {
		background-color:rgba(46, 204, 113,@tonealpha);
	}
	.other {
		background-color:rgba(149, 165, 166,@tonealpha);

	}
}