[Unit]
Description=The app scraper for the XRay project

[Service]
Environment=NODE_ENV=production

PermissionStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/xray
ExecStartPre=/bin/chown -R xray:xray /var/run/xray
ExecStart=/usr/bin/node /usr/local/lib/xray/scraper/scraper.js
#ExecStop=?
User=xray
Group=xray
Restart=always
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target