[Unit]
Description=Google Play Search Term explorer for the xray project.

[Service]
Environment=NODE_ENV=production

WorkingDirectory=<<<PREFIX>>>/lib/xray/archiver/explorer
ExecStart=/usr/bin/node <<<PREFIX>>>/lib/xray/archiver/explorer/explorer.js
#ExecStop=?
User=xray
Group=xray
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
